@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Index";
}
@model IEnumerable<Periodical>

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2>Management - @ViewData["Title"]</h2>
        </div>

    </div>
</section>
<!-- End Breadcrumbs -->

<div class="container mt-4 mb-4">
    <div class="row content">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>ISSN</th>
              <th>Издание</th>
              <th>Категория</th>
              <th>Тип</th>
              <th>Издатель</th>
              <th>Стр.</th>
              <th>Вып/м</th>
              <th>Цена</th>

              <th></th>

            </tr>
          </thead>

          <tbody>

            @foreach(var p in Model)
            {
                <tr>
                    <th scope="row">@p.Id</th>
                    <td>@p.ISSN</td>
                    <td>@p.Name</td>
                    <td>@p.Category.CategoryName</td>
                    <td>@p.PublicationType.PublicationTypeName</td>
                    <td>@p.Publisher.PublisherName</td>
                    <td>@p.NumPages</td>
                    <td>@p.TimesInMonth</td>
                    <td>@p.Price</td>

                    <td>
                        <form asp-action="Delete" method="post" asp-route-Id="@p.Id">
                            <a asp-action="Edit" asp-route-_id="@p.Id">Edit</a>
                            <span> | </span>
                            <input type="hidden" name="Id" value="@p.Id" />
                            <button type="submit" class="btn btn-sm btn-danger">                                
                                Delete
                            </button>
                        </form>
                    </td>

                </tr>
            }

          </tbody>
        </table>
        <div>
            <a asp-action="Create" class="btn btn-primary">Добавить товар</a>
        </div>
    </div>
</div>



